<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <div class="left">
            <h1>Tutor Hub</h1>
        </div>
        <div class="right">
            <a href="#">Sign Up</a>
            <a href="#">Log In</a>
        </div>
    </header>
  <nav>
    <a href="#">We Write Here</a>
    <a href="#">Who We Are</a>
    <a href="#">For EHS Students</a>
    <a href="#">For EHS Teachers</a>
    <a href="#">Visit Us!</a>
    <a href="#">Write Us!</a>
  </nav>

  <!-- Content -->
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>

