<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/table.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <div class="left">
          <a href="/"><h1>Tutor Hub</h1></a>
        </div>
        <div class="right">
            <a href="/tutorhub/sessionform">Sign Up</a>
            <span>|</span>
            {% if user.is_authenticated %}
            <a href="/tutorhub/logout">{{user.username}}</a>
            {% else %}
            <a href="/tutorhub/login">Log In</a>
            {% endif %}
        </div>
    </header>
  <nav>
    <a href="/who">Who We Are</a>
    <a href="/students">For EHS Students</a>
    <a href="/teachers">For EHS Teachers</a>
    <a href="/visit">Visit Us!</a>
    <a href="/write">Write Us!</a>
  </nav>

  <!-- Content -->
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>

