{% extends "base.html"%}
{% block title %}For Students{% endblock %}
{% block content %}
<h3>For Students</h3>
<h4>Did you know that the Edison Writing Center...</h4>
<ul>
  <ls>is staffed by PEER TUTORS who have taken an elective course in tutoring writing, including a major research paper in writing in a subject area?</ls>
  <ls>tutors writing from ALL SUBJECTS, not JUST English?</ls>
  <ls>is a great place to go for PREWRITING or BRAINSTORMING? </ls>
  <ls>is a STUDENT RUN organization, designed with YOU in mind? </ls>
  <ls>has SAMPLE STUDENT ESSAYS you can look at to get an idea of what your teacher wants? </ls>
  <ls>hosts a RESOURCE LIBRARY full of books on MLA format, researching, etc? </ls>
  <ls>has LAPTOPS and a PRINTER you can use? </ls>
  <ls>gives out FREE CANDY for each visit? </ls>
  <ls>sponsors WORKSHOPS on college essays and more? </ls>
  <ls>allows you to EAT your lunch while conferencing? </ls>
  <ls>sponsors a monthly RAFFLE where you can win a GIFT CARD for yourself and donuts/pizza for your WHOLE CLASS? </ls>
  <ls>is in its THIRD location in THREE years? </ls>
  <ls>tutored 248 PAPERS in first quarter alone? </ls>
  <ls>is a fun place to play BANANAGRAMS? (don't know what that is? come see us to find out!)  </ls>
</ul>
  <p>Come see us for yourself! Rm. 406 during lunches M-TH and after school on Wed. </p>
  <p>Do the WRITE thing!</p>

{% endblock %}
