{% extends "base.html" %}
{% block title %}Visit Us!{% endblock %}
{% block content %}
<h2>Visit Us! Room A110</h2>
<p>DID YOU KNOW... Every time you sign in for an appointment at the EWC, your name is entered into a MONTHLY RAFFLE to win a giftcard to Chipotle, Starbucks or McDonalds? AND by winning, you also earn a donut or pizza party for your entire class? It's true!</p>
<div>Do the WRITE thing and come visit us!</div>
<h2>We Love tutoring your:</h2>
<ul>
  <li>HOA Speeches/Essays</li>
  <li>College Application Essays</li>
  <li>History DBQs</li>
  <li>Persuasive Essays</li>
  <li>Science Labs (Procedures and Conclusions)</li>
  <li>Creative Writing Pieces</li>
  <li>Film and Theatre Reviews</li>
  <li>Annotations</li>
  <li>Resumes</li>
  <li>TOK/Extended Essays</li>
  <li>Research Papers</li>
  <li>PowerPoints</li>
  <li>Monologues</li>
  <li>Double Entry Journals</li>
  <li>... and more!</li>
</ul>
<div>We'll help you with whatever you bring. Come see us.</div>
{% endblock %}
