{% extends "base.html"%}
{% block title %}Write Us!{% endblock %}
{% block content %}
<h2>Write Us!</h2>
<p>For more information about the Edison Writing Center, or to request an appointment or a Rent-A-Tutor, please contact:</p>

<h3>Director</h3>
<div>Amber Jensen</div>
<div>--Add email with a tag later--</div>

<h3>EWC Leadership Committee</h3>
<div>--Add email with a tag later--</div>
<div><b>Managing Tutor: </b>Filler Name</div>
<div><b>Workshops and Outreach: </b>Filler Name</div>
<div><b>Tutoring Scheduler: </b>Filler Name</div>
<div><b>Statistical Analyst: </b>Filler Name</div>
<div><b>PR Specialists: </b>Filler Name</div>
<div><b>Committee Members: </b>Filler Name</div>
{% endblock %}
