body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
nav {
    display: table;
    text-align: left;
    margin-top: -15px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #090369;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
nav a, nav a:visited {
    background-color: #090369;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
nav a:hover {
    color: red;
}
header {
    display: inline-block;
    background-color: #090369;
    min-width: 100%;
    height: 130px;
}
.left {
    float: left;
    display: inline-block;
    color: white;
    font-size: 1.6em;
    margin-left: 15px;
}

.right {
    float: right;
    display: inline-block;
    margin-right: 30px;
    margin-top: 60px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}
.right a, a:visited {
    color: white;
    text-decoration: none;
}
.right a:hover {
    color: red;
    text-decoration: none;
}
.content {
    margin: 20px;
}
.left a, a:visited {
    text-decoration: none;
}
fieldset {
    border: none;
    padding-left: 0px;
}
input#id_password  {
    margin-left: 7px;
}
.form-actions a {
    color: #000;
}
